/* font télécharger:
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/********* HEADER SECTION *************/
.logo{
    padding-top: 40px;
    color: white;
}
.logo img{
    width: 25px;
}
.logo p{
    display: inline;
    font-family: 'Lato', sans-serif;
}

.img_personne_montagne{
    background:url("img/personne_montagne2.png") no-repeat center;
    background-size: cover;
    width: 100vw;
    position: absolute;
    /* border: black solid  5px; */
}
.left_right_column_first_picture{
    justify-content: center;
}
.left_column_first_picture, .right_column_first_picture{
    padding: 0px !important;
    justify-content:flex-start;
}
.left_column_first_picture div h1{
    font-weight: 300;
    color: white;
}
.left_column_first_picture .text_first_picture p{
    color: white;
}
.left_column_first_picture div p, 
.right_column_first_picture div p{
    font-size: 10px;
    color: gray;
    margin-top: 15px;
}
.right_column_first_picture img{
    width: 100%;
}


@media screen and (max-width: 575px) {
    .img_personne_montagne{
        background-size: cover;
        height: 300px;
    }
    .padding_text{
        padding: 0 8vw;
    }
    .left_column_first_picture{
        margin-top: 30px;
    }
    .left_column_first_picture h1{
        font-size: 30px;
    }
    .left_column_first_picture .text_bottom_first_picture{
        padding-top: 120px;
    }
    .right_column_first_picture img{
        max-width: 250px;
        min-width: 140px;
        width: 45%;
        display: block;
        margin: auto;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .img_personne_montagne{
        height: 370px;
    }
    .padding_text{
        padding: 0 8vw;
    }
    .left_column_first_picture{
        margin-top: 50px;
    }
    .left_column_first_picture h1{
        font-size: 30px;
    }

    .text_bottom_first_picture{
        margin-top: 180px;
    }
    .text_bottom_first_picture h2{
        font-size: 22px;
        font-weight: 400;
        color: gray;
        margin-bottom: 20px;
    }

    .right_column_first_picture img{
        margin-top: 120px;
        padding-left: 0px;
        margin-bottom: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .img_personne_montagne{
        height: 490px;
    }
    .padding_text{
        padding: 0 8vw;
    }
    .left_column_first_picture{
        margin-top: 130px;
    }
    .left_column_first_picture h1{
        font-size: 35px;
    }

    .text_bottom_first_picture{
        margin-top: 220px;
    }
    .text_bottom_first_picture h2{
        font-size: 22px;
        font-weight: 400;
        color: gray;
        margin-bottom: 20px;
    }

    .right_column_first_picture img{
        margin-top: 160px;
        margin-left: 30px;
        max-width: 250px;      
    }

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .img_personne_montagne{
        height: 500px;
    }
    .padding_text{
        padding: 0 16vw;
    }
    .left_column_first_picture{
        margin-top: 150px;
    }
    .left_column_first_picture h1{
        font-size: 35px;
    }

    .text_bottom_first_picture{
        margin-top: 250px;
    }
    .text_bottom_first_picture h2{
        font-size: 22px;
        font-weight: 400;
        color: gray;
        margin-bottom: 20px;
    }

    .right_column_first_picture img{
        margin-top: 80px;
        margin-bottom: 30px;
        padding-left: 10px;
        max-width: 350px;
    }

}
@media screen and (min-width: 1200px) {
    .img_personne_montagne{
        height: 660px;
    }
    .padding_text{
        padding: 0 16vw;
    }
    .left_column_first_picture{
        margin-top: 240px;
    }
    .left_column_first_picture h1{
        font-size: 40px;
    }

    .text_bottom_first_picture{
        margin-top: 350px;
    }
    .text_bottom_first_picture h2{
        font-size: 22px;
        font-weight: 400;
        color: gray;
        margin-bottom: 20px;
    }
    .right_column_first_picture div img{
        margin-top: 130px;
        margin-bottom: 30px;
        max-width: 400px;
    }


}

