/* font télécharger:
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */
body{
    font-family: 'Open Sans', sans-serif;
}

/* HEADER SECTION */
header{
    color: white;
}
.logo{
    width: 20px;
}
.title{
    display: inline;
    font-family: 'Lato', sans-serif;
}
.img_personne_montagne{
    background:url("img/personne_montagne.png") no-repeat;
    background-size: 100%;
    border: black solid  5px;
}
.logo-title{
    margin-top: 20px;
}
.title-header h1{
    font-weight: 300;
}
.title-header p{
    font-size: 12px;
}
.picture_phone{
    width: 100%;
}


@media screen and (max-width: 575px) {
    .img_personne_montagne{
        padding: 0px 20px;
        background-position: center;
        background-size: cover;
        max-height: 500px;
    }
    .title-header{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .title-header h1{
        font-size: 30px;
    }
    .picture_phone{
        width: 250px;
        display: block;
        margin: auto;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .img_personne_montagne{
        padding: 0px 30px;
        height: 270px;
    }
    .title-header{
        margin-top: 50px;
    }
    .title-header h1{
        font-size: 30px;
    }
    .picture_phone{
        margin-top: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .img_personne_montagne{
        padding: 0px 100px;
        height: 380px;
    }
    .title-header{
        margin-top: 100px;
    }
    .title-header h1{
        font-size: 35px;
    }
    .picture_phone{
        margin-top: 150px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .img_personne_montagne{
        padding: 0px 100px;
        height: 500px;
    }
    .title-header{
        margin-top: 150px;
    }
    .title-header h1{
        font-size: 35px;
    }
    .picture_phone{
        margin-top: 160px;
    }
}
@media screen and (min-width: 1200px) {
    .img_personne_montagne{
        padding: 0px 200px;
        height: 600px;
    }
    .title-header{
        margin-top: 210px;
    }
    .title-header h1{
        font-size: 35px;
    }
    .picture_phone{
        margin-top: 230px;
    }
}