/* font télécharger:
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */
body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

/********* HEADER SECTION *************/
.logo-title, .header-text h1, .header-text p{
    color: white;
}
.logo{
    width: 25px;
}
.title{
    display: inline;
    font-family: 'Lato', sans-serif;
}
h2{
    display: inline;
}

.img_personne_montagne{
    background:url("img/personne_montagne2.png") no-repeat center;
    background-size: cover;
    width: 100vw;
    position: absolute;
    /* border: black solid  5px; */
}

.logo-title{
    padding-top: 40px;

}
.title-header h1{
    font-weight: 300;
}
.title-header p{
    font-size: 12px;
}
.picture_phone{
    width: 100%;
}


@media screen and (max-width: 575px) {
    .img_personne_montagne{
        background-size: cover;
        height: 300px;
    }
    .padding-text{
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .title-header{
        margin-top: 30px;
    }
    .title-header h1{
        font-size: 30px;
    }
    .picture_phone{
        max-width: 250px;
        min-width: 140px;
        width: 45%;
        display: block;
        margin: auto;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .img_personne_montagne{
        height: 370px;
    }
    .padding-text{
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .title-header{
        margin-top: 50px;
    }
    .title-header h1{
        font-size: 30px;
    }
    .picture_phone{
        margin-top: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .img_personne_montagne{
        height: 490px;
    }
    .padding-text{
        padding: 0 10vw;
    }
    .title-header{
        margin-top: 130px;
    }
    .title-header h1{
        font-size: 35px;
    }
    .picture_phone{
        margin-top: 130px;
        max-width: 250px;      
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .img_personne_montagne{
        height: 500px;
    }
    .padding-text{
        padding: 0 18vw;
    }
    .title-header{
        margin-top: 150px;
    }
    .title-header h1{
        font-size: 35px;
    }
    .picture_phone{
        margin-top: 100px;
    }
}
@media screen and (min-width: 1200px) {
    .img_personne_montagne{
        height: 660px;
    }
    .padding-text{
        padding: 0 18vw;
    }
    .title-header{
        margin-top: 240px;
    }
    .title-header h1{
        font-size: 35px;
    }
    .picture_phone{
        margin-top: 130px;
    }
}

